.App {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.App header {
  font-size: 50px;
}

.App ul {
  list-style: none;
}

.App button {
  margin: 0 10px 0;
}

.App blockquote {
  background-color: #eee;
}
